In [1]:
import pandas as pd
import numpy as np

# Camiones y Cami√≥n

In [23]:
df_clientes = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="clientes")
df_clientes

   Cliente   Coord x   Coord y
0        A  0.257571  1.803726
1        B  1.523313  2.102301
2        C  0.710910  2.629800
3        D  1.013940  2.149740
4        E  0.609480  0.666810
5        F  0.998640  1.451790
6        G  1.434510  0.018180
7        H  2.171880  0.764910
8        I  1.412280  0.863190
9        J  2.386260  1.387260
10       K  2.858490  0.523080
11       L  2.241360  2.309940
12       M  1.702530  1.432620
13       N  1.948140  0.318510
14       O  0.831420  0.131490

In [4]:
df_camiones = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="camiones")
df_camiones

   camion  carga_max  clientes_max  dist_max
0       1         12             3         2
1       2         12             3         2
2       3         12             3         2
3       4         12             3         2
4       5         12             3         2
5       6         12             3         2

In [5]:
df_pedidos = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="pedidos")
df_pedidos

,Cliente,Pedidos #1,Pedidos #2,Pedidos #3,Pedidos #4,Pedidos #5,Pedidos #6
0,A,4,3,5,2,6,6
1,B,6,6,5,4,1,3
2,C,1,6,6,2,6,7
3,D,8,6,5,2,8,2
4,E,4,1,2,4,2,3
5,F,3,1,6,8,6,5
6,G,3,2,3,7,4,3
7,H,5,8,5,2,4,8
8,I,5,2,3,4,2,6
9,J,1,8,6,8,1,2
10,K,1,7,6,8,3,4
11,L,6,4,3,5,2,6
12,M,0,0,0,0,8,1
13,N,0,0,0,0,5,1
14,O,0,0,0,0,8,4
15,Total,47,54,55,56,66,61

In [6]:
df_distancias = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="distancias")
df_distancias

,Cliente,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
0,A,0.000000,1.300481,0.942292,0.831757,1.190134,0.820391,2.138542,2.178008,1.489282,2.169046,2.899109,2.047357,1.491853,2.250309,1.767958
1,B,1.300481,0.000000,0.968635,0.511577,1.701683,0.835731,2.086012,1.486356,1.244076,1.120697,2.068003,0.747466,0.693247,1.833682,2.088735
2,C,0.942292,0.968635,0.000000,0.567701,1.965609,1.212640,2.710010,2.369018,1.900745,2.085834,3.008383,1.563518,1.554526,2.621602,2.501215
3,D,0.831757,0.511577,0.567701,0.000000,1.537098,0.698118,2.172654,1.805154,1.346806,1.569917,2.459347,1.237830,0.994192,2.055756,2.026486
4,E,1.190134,1.701683,1.965609,1.537098,0.000000,0.876150,1.049474,1.565477,0.826470,1.917289,2.253598,2.315795,1.334625,1.383229,0.579504
5,F,0.820391,0.835731,1.212640,0.698118,0.876150,0.000000,1.498406,1.359521,0.719408,1.389120,2.078832,1.510223,0.704151,1.478470,1.330847
6,G,2.138542,2.086012,2.710010,2.172654,1.049474,1.498406,0.000000,1.049438,0.845302,1.667396,1.510842,2.429644,1.439609,0.594991,0.613642
7,H,2.178008,1.486356,2.369018,1.805154,1.565477,1.359521,1.049438,0.000000,0.765932,0.658239,0.727953,1.546591,0.816165,0.499332,1.482584
8,I,1.489282,1.244076,1.900745,1.346806,0.826470,0.719408,0.845302,0.765932,0.000000,1.106023,1.485664,1.667471,0.639137,0.764083,0.934229
9,J,2.169046,1.120697,2.085834,1.569917,1.917289,1.389120,1.667396,0.658239,1.106023,0.000000,0.984788,0.933988,0.685233,1.155065,1.998621
10,K,2.899109,2.068003,3.008383,2.459347,2.253598,2.078832,1.510842,0.727953,1.485664,0.984788,0.000000,1.890428,1.470886,0.933052,2.064547
11,L,2.047357,0.747466,1.563518,1.237830,2.315795,1.510223,2.429644,1.546591,1.667471,0.933988,1.890428,0.000000,1.029577,2.012901,2.594913
12,M,1.491853,0.693247,1.554526,0.994192,1.334625,0.704151,1.439609,0.816165,0.639137,0.685233,1.470886,1.029577,0.000000,1.140862,1.565813
13,N,2.250309,1.833682,2.621602,2.055756,1.383229,1.478470,0.594991,0.499332,0.764083,1.155065,0.933052,2.012901,1.140862,0.000000,1.132272
14,O,1.767958,2.088735,2.501215,2.026486,0.579504,1.330847,0.613642,1.482584,0.934229,1.998621,2.064547,2.594913,1.565813,1.132272,0.000000

In [12]:
class Camion(object):
    
    def __init__(self, ix, carga_max, pedidos_max, dist_max):
        self.ix = ix
        self.carga_max = carga_max
        self.pedidos_max = pedidos_max
        self.dist_max = dist_max
        self.pedidos_asignados = []
        
    def __repr__(self):
        return f'Cami√≥n {self.ix}'
    
    def __str__(self):
        return f'Cami√≥n {self.ix}'
    
    def check_pedido(self, pedido):
        pass
    
    def add_pedido(self, pedido):
        pass
    
    def remove_pedido(self, pedido):
        pass

    def costo(self):
        pass

    def carga(self):
        pass
    
    def count_pedidos(self):
        return len(self.pedidos_asignados)
        
        
        
        
        
class Pedido(object):
    
    def __init__(self, ix, x, y, carga):
        self.ix = ix
        self.x = x
        self.y = y
        self.carga = carga
        self.asignado = False
        
    def __repr__(self):
        return f'Pedido {self.ix}'
    
    def __str__(self):
        return f'Pedido {self.ix}'
    
    def distancia(self, other):
        pass

In [14]:
camion_prueba = df_camiones.iloc[0,:]
camion_prueba

camion           1
carga_max       12
clientes_max     3
dist_max         2
Name: 0, dtype: int64

In [15]:
camion = Camion(ix=camion_prueba.camion,
                carga_max=camion_prueba.carga_max,
                pedidos_max=camion_prueba.clientes_max,
                dist_max=camion_prueba.dist_max)

In [26]:
pedido_prueba = df_pedidos.iloc[0,0:2]
pedido_prueba

cliente_prueba = df_clientes.iloc[0]
cliente_prueba

Cliente           A
Coord x    0.257571
Coord y     1.80373
Name: 0, dtype: object

In [31]:
pedido = Pedido(ix=pedido_prueba.Cliente,
                x=cliente_prueba["Coord x"],
                y=cliente_prueba["Coord y"],
                carga=pedido_prueba["Pedidos #1"])

In [32]:
pedido

Pedido A