# MÃ³dulos

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import copy
import random

In [5]:
from logistica.componentes.camion import Camion
from logistica.componentes.pedido import Pedido
from logistica.componentes.ruteo import Ruteo
from logistica.utils import preparar_df_pedidos

# Datos

In [3]:
df_clientes = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="clientes")
df_pedidos = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="pedidos")
df_pedidos = pd.merge(left=df_pedidos, right=df_clientes, on="cliente", how="inner")
df_pedidos

,cliente,pedidos1,pedidos2,pedidos3,pedidos4,pedidos5,pedidos6,coord_x,coord_y
0,A,4,3,5,2,6,6,0.257571,1.803726
1,B,6,6,5,4,1,3,1.523313,2.102301
2,C,1,6,6,2,6,7,0.710910,2.629800
3,D,8,6,5,2,8,2,1.013940,2.149740
4,E,4,1,2,4,2,3,0.609480,0.666810
5,F,3,1,6,8,6,5,0.998640,1.451790
6,G,3,2,3,7,4,3,1.434510,0.018180
7,H,5,8,5,2,4,8,2.171880,0.764910
8,I,5,2,3,4,2,6,1.412280,0.863190
9,J,1,8,6,8,1,2,2.386260,1.387260
10,K,1,7,6,8,3,4,2.858490,0.523080
11,L,6,4,3,5,2,6,2.241360,2.309940
12,M,0,0,0,0,8,1,1.702530,1.432620
13,N,0,0,0,0,5,1,1.948140,0.318510
14,O,0,0,0,0,8,4,0.831420,0.131490

In [4]:
df_camiones = pd.read_excel("data/inputs/data_inputs.xlsx", sheet_name="camiones")
df_camiones

   camion  carga_max  pedidos_max  dist_max
0       1         12            3         2
1       2         12            3         2
2       3         12            3         2
3       4         12            3         2
4       5         12            3         2
5       6         12            3         2

# Ruteo

In [7]:
# Preparamos los datos de pedidos.
df_pedido = preparar_df_pedidos(df_pedidos, "pedidos1")
df_pedido

   cliente  pedidos   coord_x   coord_y
0        A        4  0.257571  1.803726
1        B        6  1.523313  2.102301
2        C        1  0.710910  2.629800
3        D        8  1.013940  2.149740
4        E        4  0.609480  0.666810
5        F        3  0.998640  1.451790
6        G        3  1.434510  0.018180
7        H        5  2.171880  0.764910
8        I        5  1.412280  0.863190
9        J        1  2.386260  1.387260
10       K        1  2.858490  0.523080
11       L        6  2.241360  2.309940
12       M        0  1.702530  1.432620
13       N        0  1.948140  0.318510
14       O        0  0.831420  0.131490

In [8]:
ruteo = Ruteo(df_camiones, df_pedido, costo_oportunidad=3000, presupuesto=1200, random_state=42)

In [9]:
ruteo.get_camiones()

[CamiÃ³n 1
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None,
 CamiÃ³n 2
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None,
 CamiÃ³n 3
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None,
 CamiÃ³n 4
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None,
 CamiÃ³n 5
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None,
 CamiÃ³n 6
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None]

In [10]:
ruteo.get_pedidos()

[Pedido A
 Carga 4 tn
 Asignado False
 Asignado a Camion None,
 Pedido B
 Carga 6 tn
 Asignado False
 Asignado a Camion None,
 Pedido C
 Carga 1 tn
 Asignado False
 Asignado a Camion None,
 Pedido D
 Carga 8 tn
 Asignado False
 Asignado a Camion None,
 Pedido E
 Carga 4 tn
 Asignado False
 Asignado a Camion None,
 Pedido F
 Carga 3 tn
 Asignado False
 Asignado a Camion None,
 Pedido G
 Carga 3 tn
 Asignado False
 Asignado a Camion None,
 Pedido H
 Carga 5 tn
 Asignado False
 Asignado a Camion None,
 Pedido I
 Carga 5 tn
 Asignado False
 Asignado a Camion None,
 Pedido J
 Carga 1 tn
 Asignado False
 Asignado a Camion None,
 Pedido K
 Carga 1 tn
 Asignado False
 Asignado a Camion None,
 Pedido L
 Carga 6 tn
 Asignado False
 Asignado a Camion None]

In [11]:
ruteo.get_solucion_inicial(mode="simple")

In [12]:
ruteo.get_camiones()

[CamiÃ³n 1
 Carga Total 11 tn
 Pedidos ['A', 'B', 'C']
 Costo Total 11000
 Costo por tn 1000.0,
 CamiÃ³n 2
 Carga Total 12 tn
 Pedidos ['D', 'E']
 Costo Total 12000
 Costo por tn 1000.0,
 CamiÃ³n 3
 Carga Total 11 tn
 Pedidos ['F', 'G', 'H']
 Costo Total 11000
 Costo por tn 1000.0,
 CamiÃ³n 4
 Carga Total 7 tn
 Pedidos ['I', 'J', 'K']
 Costo Total 8400
 Costo por tn 1200.0,
 CamiÃ³n 5
 Carga Total 6 tn
 Pedidos ['L']
 Costo Total 8400
 Costo por tn 1400.0,
 CamiÃ³n 6
 Carga Total 0 tn
 Pedidos []
 Costo Total 5000
 Costo por tn None]

In [13]:
ruteo.get_pedidos()

[Pedido A
 Carga 4 tn
 Asignado True
 Asignado a Camion 1,
 Pedido B
 Carga 6 tn
 Asignado True
 Asignado a Camion 1,
 Pedido C
 Carga 1 tn
 Asignado True
 Asignado a Camion 1,
 Pedido D
 Carga 8 tn
 Asignado True
 Asignado a Camion 2,
 Pedido E
 Carga 4 tn
 Asignado True
 Asignado a Camion 2,
 Pedido F
 Carga 3 tn
 Asignado True
 Asignado a Camion 3,
 Pedido G
 Carga 3 tn
 Asignado True
 Asignado a Camion 3,
 Pedido H
 Carga 5 tn
 Asignado True
 Asignado a Camion 3,
 Pedido I
 Carga 5 tn
 Asignado True
 Asignado a Camion 4,
 Pedido J
 Carga 1 tn
 Asignado True
 Asignado a Camion 4,
 Pedido K
 Carga 1 tn
 Asignado True
 Asignado a Camion 4,
 Pedido L
 Carga 6 tn
 Asignado True
 Asignado a Camion 5]

In [15]:
ruteo.get_results()

--Resultados--
Carga Total 47 tn
Costo Camiones 55800 $
Costo Oportunidad 0 $
Costo Total 55800 $
Costo Total por tn 1187.23 $
Ahorro -1.06%

In [16]:
ruteo.get_vecino(prob=1)

In [17]:
ruteo.get_results()

--Resultados--
Carga Total 47 tn
Costo Camiones 56400 $
Costo Oportunidad 0 $
Costo Total 56400 $
Costo Total por tn 1200.0 $
Ahorro 0.0%

In [18]:
ruteo.get_camiones()

[CamiÃ³n 1
 Carga Total 11 tn
 Pedidos ['A', 'B', 'C']
 Costo Total 11000
 Costo por tn 1000.0,
 CamiÃ³n 2
 Carga Total 12 tn
 Pedidos ['D', 'E']
 Costo Total 12000
 Costo por tn 1000.0,
 CamiÃ³n 3
 Carga Total 11 tn
 Pedidos ['F', 'G', 'H']
 Costo Total 11000
 Costo por tn 1000.0,
 CamiÃ³n 4
 Carga Total 6 tn
 Pedidos ['I', 'J']
 Costo Total 8400
 Costo por tn 1400.0,
 CamiÃ³n 5
 Carga Total 6 tn
 Pedidos ['L']
 Costo Total 8400
 Costo por tn 1400.0,
 CamiÃ³n 6
 Carga Total 1 tn
 Pedidos ['K']
 Costo Total 5600
 Costo por tn 5600.0]